@import url(Colors.css);
:root
{
--header-height: 75px;
--footer-height: 100px;
}

*
{
margin: 0;
padding: 0;
outline: 0;
}

body
{
font-family: 'Segoe UI', sans-serif;
}

a
{
text-decoration: none;
color: #000;
}

.container
{
width: 80%;
margin: 0 auto;
overflow: hidden;
}

header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    background: #2c3e50;
    transition: all ease-in-out 250ms;
    z-index: 999;
}

    header #logo {
        float: left;
        font-weight: bold;
        line-height: calc(var(--header-height) - 10px);
        transition: all ease-in-out 250ms;
    }

header #logo #white {
color: #fff;
border-bottom: 3px solid #e74c3c;
}

header #logo #red {
color: #e74c3c;
border-bottom: 3px solid #fff;
}

    header #navigator {
        float: right;
        line-height: var(--header-height);
        transition: all ease-in-out 250ms;
    }

header #navigator li, header #navigator a {
display: inline-block;
margin-left: 20px;
font-size: 18px;
color: #fff;
text-transform: uppercase;
}

header #languages {
line-height: calc(var(--header-height) + 10px);
float: left;
position: absolute;
top: 0;
right: 0;
transition: all ease-in-out 250ms;
}

header #languages li 
{
display: inline-block;
}

header #languages li img 
{
float: left;
width: 30px;
height: 20px;
margin-right: 10px;

}

main
{
min-height: calc(100vh - var(--header-height));
margin-top: var(--header-height);
}
#topper {
height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/topper.jpg') center fixed no-repeat;
background-size: cover;
}

#topper #title {
margin-top: 120px;
color: #fff;
}

#topper button {
padding: 10px 30px;
color: #fff;
font-weight: bold;
font-size: 16px;
border: none;
background: #e74c3c;
margin-top: 40px;
cursor: pointer;
transition: all ease-in-out 250ms;
}

#topper #down {
position: absolute;
width: 80%;
text-align: center;
top: calc(100vh - 100px);
color: #fff;
font-size: 50px;
animation: bounce 2.5s infinite;
}

#topper button:hover {
background: #c0392b;
border-color: #c0392b;
}

#login
{
width: fit-content;
margin: 0 auto;
margin-top: 100px;
}

#login table
{
border: 1px solid black;
padding: 20px 40px;
}

#login button {
padding: 5px 20px;
color: #fff;
font-size: 16px;
background: var(--ColorBlue);
border: 1px solid var(--ColorBlue);
margin-top: 40px;
cursor: pointer;
transition: all ease-in-out 250ms;
float: right;
}

#login button:hover {
border-color: var(--ColorDarkblue);
background var(--ColorDarkblue);
}

#sidebar {
width: 20%;
min-width: 250px;
height: calc(100vh - var(--header-height));
position: fixed;
top: var(--header-height);
background: #4b5e65;
float: left;
}

#content {
width: 80%;
min-height: calc(100vh - var(--header-height));
float: right;
}

.district {
min-height: 250px;
width: 300px;
display: inline-block;
margin-top: 25px;
margin-right: 20px;
cursor: pointer;
perspective: 500px;
text-align: center;
}

.district-stats table
{
width: 100%;
text-align: center;
}


.district-top {
height: 150px;
background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../Images/topper.jpg') center no-repeat;
background-size: 100%;
}

.district-content {
background: #BDBBBD;
}

.district-content-title
{
text-align: center;
}

.district-content-stats table
{
width: 100%;
}

.district-content-stats table td {
text-align: center;
}

footer 
{
height: var(--footer-height);
border-top: 1px solid #EFEFEF;
}

@keyframes bounce {
from {
top: calc(100vh - 120px);
}

to {
top: calc(100vh - 100px);
}
}

#orange_div {
    background-color: #e74c3c;
}

#orange_div h1 {
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 45px;
    padding-top: 50px;
}

.div4 {
    width: 90%;
    margin: 0 auto;
    min-height: 150px;
}

.div1 {
    width: 20%;
    margin-left: 5%;
    float:left;
}

.partner_logo {
    width: 100%;
}

#underline_partners {
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    height: 2px;
    border: none;
    background-color: #fff;
    border-radius: 1px;
}

.white_div {
    background-color: #fff;
    min-height: 200px;
}

.div2 {
    width: 50%;
    float: left;
}

.side_photo {
    width: 50vw;
}

.div2 p {
    padding: 50px;
    padding-top: 30px;
}

.div2 h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
}

#UserContainer {
    margin: 0;
}

#nav_photo {
    width: 50px;
    position: relative;
    top: 15px;
    margin-right: 10px;
    border-radius: 100%;
}